.container{
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
    width: 60%;
    border: 2px solid red;
}

h3{
    text-align: center;
}

.btn{
    margin-bottom: 4px;
}

.list{
    background-color: antiquewhite;
    margin: auto;
    width: 60%;
    border: 2px solid red;
    margin-top: 5px;
}
